fastapi==0.116.1
pandas==2.3.1
pdfminer-six==20250506
scikit-learn==1.7.1
starlette==0.47.2
gunicorn
uvicorn
itsdangerous
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
sentence-transformers==3.3.0