beautifulsoup4==4.13.4
fastapi==0.116.1
pandas==2.3.1
pdfminer-six==20250506
requests==2.32.4
scikit-learn==1.7.1
starlette==0.47.2
gunicorn
uvicorn
itsdangerous 
python-multipart
# Usa una versione più leggera
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu --no-deps
transformers==4.30.0 --no-deps